name: TIME TO BUILD......

on: 
  #releasepush:
    #pushbuild

  watch: 
      types: [started]
    
env:              #change ROM_URL,ROM_NAME,ZIP_NAME,ROMZIP_NAME respectivley. ROM_NAME is case sensitive 
  ROM_URL: https://pdrive.priyo.workers.dev/0://HN%20Gaming_REBORN_V11.0.7.0.QEACNXM_10.zip
  ROM_NAME: MIUI
  ZIP_NAME: MIUI-HN-Gaming-REBORN-V11-@PriyoGSI-11-02-2021
  SECRETS_PASSWORD: ${{ secrets.SFPASS }}
  TZ: Asia/Bangladesh
  SFDIRA1: cd /home/smpriyo/pfs/projects/priyogsis/files/PriyoFiles
  SFDIRA2: cd /home/smpriyo/pfs/projects/priyogsis/files/PriyoDumps
  SFUSER: ${{ secrets.SFUSER }}
  
jobs:
  build:
    runs-on: ubuntu-latest


    steps:
       - name: Checkout
         uses: actions/checkout@main
       
           
       - name: Setting up the SPICES
         run: |
            sudo -E apt-get -qq update
            sudo -E apt-get -qq install git openjdk-8-jdk wget
            sudo -E apt-get -qq install python3
            sudo -E apt-get -qq install simg2img
            sudo apt-get install -y expect
            
                 
       - name: ACCESS 10001001100
         run: |
           git clone --recurse-submodules https://github.com/Priiiyo/PGTools-ErfanGSIs ErfanGSIs
           sudo chmod -R 777 ErfanGSIs
           cd ErfanGSIs
           sudo bash setup.sh 
       
       - name: DOWNLOADING THE FIRMWARE
         run: cd ErfanGSIs && sudo ./url2GSI.sh $ROM_URL $ROM_NAME 
     
                       
       - name: Zipping BOTH COOKIES
         run: |
              mkdir final
              sudo chmod -R 777 ErfanGSIs/output
              zip -r ErfanGSIs/output/$ZIP_NAME-GSI-Aonly.7z ErfanGSIs/output/*-Aonly-*.img 
              zip -r ErfanGSIs/output/$ZIP_NAME-GSI-AB.7z ErfanGSIs/output/*-AB-*.img
              
       - name: uploading to PRIYOFILES
         run: |   
              cd ErfanGSIs/output
              expect -c " 
              spawn sftp ${{ secrets.SFUSER }}@frs.sourceforge.net
              expect \"yes/no\"
              send \"yes\r\"
              expect \"Password\"        
              send \"${{ secrets.SFPASS }}\r\"
              expect \"sftp> \"
              send \"${{ secrets.SFDIRA2 }}\r\"
              set timeout -1
              send \"put *-Aonly-*.txt\r\"
              expect \"Uploading\"
              expect \"100%\"
              expect \"sftp>\"
              interact"
              expect -c "
              spawn sftp ${{ secrets.SFUSER }}@frs.sourceforge.net
              expect \"Password\"
              send \"${{ secrets.SFPASS }}\r\"
              expect \"sftp> \"
              send \"${{ secrets.SFDIRA1 }}\r\"
              set timeout -1
              send \"put $ZIP_NAME-GSI-Aonly.7z\r\"
              expect \"Uploading\"
              expect \"100%\"
              expect \"sftp>\"
              interact"
              expect -c "
              spawn sftp ${{ secrets.SFUSER }}@frs.sourceforge.net
              expect \"Password\"
              send \"${{ secrets.SFPASS }}\r\"
              expect \"sftp> \"
              send \"${{ secrets.SFDIRA1 }}\r\"
              set timeout -1
              send \"put $ZIP_NAME-GSI-AB.7z\r\"
              expect \"Uploading\"
              expect \"100%\"
              expect \"sftp>\"
              send \"bye\r\"
              interact"  
